body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.calculator {
    border: 2px solid #0074d9;
    border-radius: 10px;
    width: 300px;
    background-color: #f4f4f4;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #0074d9;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #f4f4f4;
}

#display {
    width: 80%;
    height: 40px;
    font-size: 24px;
    text-align: right;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #fff;
}

button {
    width: 22%;
    height: 60px;
    font-size: 24px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #0074d9;
    color: #fff;
    transition: background-color 0.2s;
    margin: 3px;
}

button:hover {
    background-color: #0056b3;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 2px;
}


.display button:first-child {
    background-color: #e74c3c; 
}


.keys > .row:last-child button:last-child {
    background-color: #4caf50; /* Green color */
}
